body {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin: 0;
    width: 100vw;
}

.actions {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.actions button {
    margin: 0 .5rem;
}
